* {
    margin: 0;
    padding: 0;
}

main {
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

span {
    background: url("../assets/Pic.jpg");
    width: 200px;
    height: 200px;
    position: absolute;
    top: -50%;
    left: -50%;
}