
*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}



main {
    border: 1px solid;
    width: 100vw;
    height: 50vh;
    padding: 20px;
}

div {
    border: 1px solid ;
    width: 100px;
    
}

div:first-child {
    background-color: cadetblue;
}

